.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: footer;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__text {
  display: grid;
  place-items: center;
  text-align: center;
}
