.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "menu"
    "title"
    "subtitle";
  grid-area: header;
  margin-block-end: 2.625rem;
  block-size: 100vh;
  min-block-size: 668px;
}

.header__title {
  grid-area: title;
  justify-self: start;
  align-self: center;
  margin-inline: 2.7vw;
}

.header__subtitle {
  grid-area: subtitle;
  justify-self: end;
  align-self: center;
  margin-inline: 2.7vw;
  margin-block-end: 1.4rem;
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
  align-self: center;
  padding-inline-end: 2.3vw;
  padding-block-start: 1.5rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8vw;
  list-style: none;
}

.header__theme-menu-item {
  border-radius: 0;
}

.theme-button {
  border: none;
  padding-inline: 3.4vw;
  color: var(--accent-color, #A6A654);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: lowercase;
  background-color: transparent;
}

.theme-button_active {
  --line-height: 1;
  outline: 1px solid var(--accent-color, #A6A654);
  padding-inline: 3.4vw;
  padding-block: 0.125rem;
  line-height: var(--line-height, 1.3);
  pointer-events: none;
}

