.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: footer;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__text {
  --text-shadow: 2px 2px 0 var(--accent-color, #A6A654);
  display: grid;
  place-items: center;
  text-align: center;
  text-shadow: var(--text-shadow, 2px 2px 0 var(--accent-color, #A6A654));
}
