.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: var(--main-font, monospace);
  font-weight: var(--normal-font-weight, 400);
  font-size: var(--main-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  background-color: var(--bg-color, #000);
  inline-size: 100%;
  max-inline-size: 100vw;
}

.main {
  grid-area: main;
}
