.page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  font-family: var(--main-font, monospace);
  font-weight: var(--normal-font-weight, 400);
  font-size: var(--main-font-size, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  background-color: var(--bg-color, #000028);
  inline-size: 100%;
  max-inline-size: 100vw;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "menu"
    "title"
    "subtitle";
  grid-area: header;
  margin-block-end: 2.625rem;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
  block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  display: block;
  justify-self: end;
  align-self: start;
  margin-inline-end: 2.7vw;
  margin-block-start: 2.7vw;
  border-inline-end: 1px solid var(--accent-color, #FF0070);
  border-block-start: 1px solid var(--accent-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  justify-self: start;
  align-self: end;
  margin-inline-start: 2.7vw;
  margin-block-end: 2.7vw;
  border-inline-start: 1px solid var(--accent-color, #FF0070);
  border-block-end: 1px solid var(--accent-color, #FF0070);
  inline-size: 25px;
  block-size: 25px;
}

.rec-indicator {
  --line-height: 1.39;
  position: absolute;
  top: 2.7vw;
  right: 4vw;
  display: inline-block;
  color: var(--accent-color, #FF0070);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: var(--line-height, 1.39);
  ;
}

.rec-indicator::before {
  content: "REC";
}

.rec-indicator::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 3.6vw;
  border-radius: 50%;
  box-shadow: 0 0 5px 3px var(--accent-color, #FF0070);
  background: var(--accent-color, #FF0070);
  transform: translate(-4px, -2px);
}

.header__theme-menu {
  grid-area: menu;
  justify-self: end;
  align-self: center;
  padding-inline-end: 2.3vw;
  padding-block-start: 1.5rem;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8vw;
  list-style: none;
}

.header__theme-menu-item {
  border-radius: 0;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 3.4vw;
  color: var(--accent-color, #FF0070);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  --line-height: 1;
  border: 1px solid var(--accent-color, #FF0070);
  padding-inline: 3.4vw;
  padding-block: 0.125rem;
  line-height: var(--line-height, 1.3);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  text-decoration: underline;
  text-decoration-color: currentColor;
  text-underline-offset: 0.2em;
}

.header__title {
  grid-area: title;
  justify-self: start;
  align-self: center;
  margin-inline: 2.7vw;
}

.accent__title {
  --line-height: 0.83;
  color: var(--title-color, #DB00FF);
  font-family: inherit;
  font-weight: var(--bold-font-weight, 700);
  font-size: var(--font-size-title, clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem));
  line-height: var(--line-height, 0.83);
  text-shadow: var(--text-shadow, 4px 4px 0 var(--accent-color, #FF0070));
}

.header__subtitle {
  grid-area: subtitle;
  justify-self: end;
  align-self: center;
  margin-inline: 2.7vw;
  margin-block-end: 1.4rem;
}

.main {
  grid-area: main;
}

.card {
  margin-inline: 2.7vw;
  margin-block-end: 3.125rem;
}

.card:last-of-type {
  margin-block: 2.5rem;
}

.card__title {
  align-self: start;
  margin-block-end: 1.2rem;
  color: var(--accent-color, #FF0070);
  font-family: inherit;
  font-weight: var(--bold-font-weight, 700);
  font-size: inherit;
  line-height: var(--line-height, 1.3);
}

.card__picture .card__title {
  margin-block-end: 0;
}

.title-decor {
  color: var(--text-color, #000028);
  font-family: inherit;
  font-weight: var(--bold-font-weight, 700);
  font-size: inherit;
  line-height: var(--line-height, 1.3);
  background-color: var(--accent-color, #FF0070);
}

.card__subtitle {
  align-self: start;
}


.card__text {
  margin-block: 0.625rem 1.25rem;
  color: var(--text-color, #000);
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: var(--line-height, 1.3);
}

.decor-link {
  --text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  text-decoration: none;
  text-shadow: var(--text-shadow, 2px 2px 0 var(--accent-color, #FF0070));
}

.decor-link:hover {
  border-bottom: 1px solid currentColor;
  outline: none;
  cursor: pointer;
}

.decor-link:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

.card__text-title {
  margin-block: 1.25rem 0.625rem;
  font-weight: inherit;
}

.card__list-image {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card__image {
  display: block;
  margin-block: 0.625rem 0;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: auto;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-area: footer;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__text {
  --text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  display: grid;
  place-items: center;
  text-align: center;
  text-shadow: var(--text-shadow, 2px 2px 0 var(--accent-color, #FF0070));
}
